/*=============================================
         Loader Styles
===============================================*/
#Apploader {
    position: fixed;
    z-index: 9999;
    top: -1%;
    height: 100%;
    width: 100%;
    background:#171414;
    opacity: 0.8;
}

.loader__spinner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    width: 100px;
    height: 100px;
    margin: -30px auto 0;
}

.c-loader__img-container {

    width: 100%;
    height: 100%;
    position: absolute;
    top: 20px;
    left: 18px;
    // background-color: #fff;
    z-index: -11;
}

.c-loader__img {
    height: 60px;
    width: 65px;
}

.loader__spinner:before,
.loader__spinner:after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 80px;
    // border: 4px solid #F37022;
    border: 4px solid green;
    border-right: 0px !important;
    border-top-color: transparent !important;
    border-radius: 50%;
    -webkit-animation: loaderAnimate1 1s cubic-bezier(.42, .61, .58, .41) infinite;
    animation: loaderAnimate1 1s cubic-bezier(.42, .61, .58, .41) infinite;
}

// .loader__spinner:after {
//     width: 90px;
//     height: 90px;
//     margin:8px;
//     // border: 4px solid #009688;
//     border: 4px solid green;
//     -webkit-animation: loaderAnimate2 1s cubic-bezier(.42, .61, .58, .41) infinite;
//     animation: loaderAnimate2 1s cubic-bezier(.42, .61, .58, .41) infinite;
// }

@-webkit-keyframes loaderAnimate1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loaderAnimate1 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes loaderAnimate2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@keyframes loaderAnimate2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}