<ion-header class="m-header">
  <ion-toolbar class="m-header__toolbar">
    <ion-buttons slot="start" class="m-header__buttons" (click)="_doBack()">
      <ion-icon name="chevron-back-outline" class="m-header__button -back"></ion-icon>
    </ion-buttons>
    <ion-title class="m-header__title no-padding-left no-padding-left pl-15">Map<span
        style="font-weight:900;"></span></ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" scrollX="true" scrollY="true" [fullscreen]="true" [scrollEvents]="true">
  <div>
    <img src="../../../assets/images/Layout - MSRA.png" alt="map" />
  </div>
</ion-content>